*{
<<<<<<< HEAD
=======
    font-size: medium;
>>>>>>> 3d347d8e938bb0063eb8e0fe39ee4d0c86152979
    color: mediumpurple;
    background-color: antiquewhite;
}
div{
    border:  2px solid blueviolet;
    border: 1%;
    margin: auto;
    padding: auto;
}